@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.homePage {
  position: absolute;
}

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

body.fontLoaded {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}
